[enmasse]
localhost ansible_connection=local

[enmasse:vars]
namespace=enmasse-infra
multitenant=True
enable_rbac=False
api_server=True
register_api_server=True
secure_api_server=False
keycloak_admin_password=admin
authentication_services=["standard"]
standard_authservice_resources=standard_authservice_sso
postgresql_db_name=tatooine
postgresql_db_username=emperor_palpatine
postgresql_db_password=unlimitedpower
